body {
  font-family: "Roboto", sans-serif;
}

section {
  margin-right: 10%;
  margin-left: 10%;
}

p {
  color: #031f41;
}

h1,
h2 {
  color: #031f41;
}

nav {
  font-size: 16pt;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.navbar-brand {
  font-size: 24pt;
  color: #031f41;
}

.nav-link {
  color: #031f41;
}

.nav-link:hover {
  color: #9fd0e3;
}

.navbar-nav {
  text-align: center;
  margin-left: auto;
  vertical-align: middle;
}

#navbar-name {
  font-size: 4vw;
  vertical-align: middle;
}

ul {
  margin-top: 1rem;
  list-style-type: none;
  width: 500px;
  justify-content: space-around; /* space out based on letters - needs width */
  font-size: 20pt;
}

a {
  font-size: 1.4rem;
  color: #031f41;
}

#logo {
  margin-top: 1rem;
  width: 50%;
  height: 30%;
}

#background-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#description {
  position: absolute;
  color: white;
  font-size: 2rem;
  left: 9.5rem;
  top: 6.5rem;
}

.tapered-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  border: none;
  color: white;
  height: 1px;
  background-color: #031f41;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(#000),
    to(#fff)
  );
}

h1 {
  color: #031f41;
}

.headshot {
  float: right;
  padding-left: 3rem;
}

.headshot-container {
  align-items: center;
  display: flex;
}

.collapsible {
  background-color: #9fd0e3;
  color: #031f41;
  cursor: pointer;
  padding: 1.25rem;
  margin-top: 0.2rem;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  border: none;
}

.active,
.collapsible:hover {
  background-color: #9fd0e3;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #e2eef3;
  color: #031f41;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}

.collapsible:after {
  content: "\02795";
  font-size: 1rem;
  color: #031f41;
  float: right;
  margin-left: 3rem;
}

.active:after {
  content: "\2796";
  color: #031f41;
}

footer {
  border-top: solid #031f41;
}
#site-created {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}
